---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro'; // no borrar esto porque podriamos usarlo ams adelante
import CallToAction from '~/components/widgets/CallToAction.astro';
import Prices from '~/components/widgets/Pricing.astro';

const metadata = {
  title: 'Paladin.build',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[{ text: 'Aprende Más', href: '#features' }]}
    image={{ src: '~/assets/images/hero-section.jpg', alt: 'PaladinDotBuild Logo' }}
  >
    <Fragment slot="title">PaladinDotBuild</Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">PaladinDotBuild</span> Construimos tu presencia digital con precisión y confianza.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">PaladinDotBuild: Production-ready.</span>
      Creamos webs para Startups, pequeños negocios, SaaS, Portfolios Profesionales, Marketing websites, Landing Pages &
      Blogs.
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Paladin"
    title="¿Porque Elegir PaladinDotBuild?"
    subtitle="Tu empresa necesita más que un sitio web, necesita un aliado. En PaladinDotBuild, diseñamos y desarrollamos soluciones digitales que potencian tu negocio."
    items={[
      {
        title: 'Soluciones a tú Medida',
        description:
          'Desarrollamos sitios web adaptados a las necesidades específicas de tu empresa, garantizando un diseño único y alineado con tus objetivos comerciales',
        icon: 'tabler:bulb',
      },
      {
        title: 'Velocidad y Rendimiento',
        description:
          'Utilizamos tecnologías de vanguardia para crear páginas web rápidas y eficientes, mejorando la experiencia de usuario y optimizando el SEO',
        icon: 'tabler:rocket',
      },
      {
        title: 'Diseño Responsivo',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.Nuestros sitios web se ven impecables en cualquier dispositivo, asegurando que tu presencia digital sea accesible y atractiva para todos tus clientes',
        icon: 'tabler:devices-2',
      },
      {
        title: 'Soporte Técnico Continuo',
        description:
          'Ofrecemos asistencia post-lanzamiento para mantener tu sitio actualizado, seguro y funcionando correctamente, brindando tranquilidad total',
        icon: 'tabler:list-check',
      },
      {
        title: 'Escalabilidad Garantizada',
        description:
          'Desarrollamos sitios con la flexibilidad necesaria para crecer junto con tu negocio, integrando nuevas funcionalidades sin perder rendimiento',
        icon: 'tabler:adjustments-check',
      },
      {
        title: 'Seguridad de Alto Nivel',
        description:
          'Implementamos medidas de seguridad avanzadas para proteger tus datos y la integridad de tu sitio, salvaguardando la confianza de tus clientes',
        icon: 'tabler:shield-lock',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Funcionalidad"
    title="PaladinDotBuild: Donde Innovación y Funcionalidad se Encuentran"
    items={[
      {
        title: 'Desarrollado con tecnologías modernas',
        description:
          'Nos apoyamos en los frameworks y herramientas más actuales para ofrecer sitios web de alto rendimiento y escalabilidad',
      },
      {
        title: 'Diseños personalizados y funcionales',
        description:
          'Creamos experiencias visuales únicas que reflejan la identidad de tu empresa, manteniendo la funcionalidad como prioridad',
      },
      {
        title: 'Compatibilidad entre navegadores',
        description:
          'Garantizamos que tu sitio web funcione de manera impecable en todos los navegadores, asegurando una experiencia sin interrupciones para todos los usuarios',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Construido sobre bases sólidas</h3>
      Gana una ventaja competitiva incorporando prácticas líderes en la industria para tu presencia digital
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Alta personalización',
        description: `Adaptamos cada detalle de tu sitio web a la identidad de tu marca, logrando un diseño único y eficiente que ahorra tiempo y maximiza tu presencia online`,
      },
      {
        title: 'Amplias posibilidades de diseño',
        description:
          'Explora una variedad de opciones de estructura para encontrar la que mejor muestre tu contenido, optimizando la navegación y el compromiso de tus usuarios',
      },
      {
        title: 'Diseño completamente responsivo',
        description:
          'Nos aseguramos de que tu sitio funcione de manera óptima en todos los dispositivos y tamaños de pantalla, brindando una experiencia de usuario constante y atractiva',
      },
      {
        title: 'Integración multimedia fluida',
        description:
          'Incorpora sin esfuerzo imágenes, videos y elementos multimedia que potencian tu contenido y capturan la atención de tus visitantes de manera efectiva',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Asegura que tu presencia digital refleje verdaderamente a tu empresa</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Prices
    title="Nuestros precios"
    subtitle="Solo paga por lo que necesites"
    prices={[
      {
        title: 'Landing Page',
        subtitle: 'Atrae Clientes y conviertalos en ventas',
        price: 250,
        period: 'Único Pago',
        items: [
          {
            description: 'Diseño personalizado que destaca',
          },
          {
            description: 'Optimización para conversiones',
          },
          {
            description: 'Experiencia de usuario intuitiva',
          },
          {
            description: 'Contenido claro y directo',
          },
        ],
        callToAction: {
          target: '_blank',
          text: '¡Lo Quiero!',
          href: '#',
        },
      },
      {
        title: 'Web Stática',
        subtitle: 'Impulsa tu negocio con una web',
        price: 500,
        period: 'Único Pago',
        items: [
          {
            description: 'Página optimizada para carga veloz',
          },
          {
            description: 'Cinco enlaces informativos claros',
          },
          {
            description: 'Diseño responsivo y atractivo',
          },
          {
            description: 'Contenido conciso y relevante',
          },
          {
            description: 'Interfaz amigable para el usuario',
          },
        ],
        callToAction: {
          target: '_blank',
          text: '¡Lo Quiero!',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'Aplicación Web',
        subtitle: 'Gestiona tu negocio',
        price: 1000,
        period: 'Único Pago',
        items: [
          {
            description: 'Interfaz de usuario intuitiva y atractiva',
          },
          {
            description: 'Funcionalidades robustas y escalables',
          },
          {
            description: 'Integración de bases de datos segura',
          },
          {
            description: 'Soporte para múltiples plataformas',
          },
          {
            description: 'Optimización para un rendimiento superior',
          },
        ],
        callToAction: {
          target: '_blank',
          text: '¡Lo Quiero!',
          href: '#',
        },
      },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Haz realidad tu sitio web ideal en tiempo récord con PaladinDotBuild"
    items={[
      {
        title: 'Paso 1: <span class="font-medium">Contáctanos</span>',
        description:
          'Inicia con una consulta gratuita. Nuestro equipo está listo para comprender las necesidades de tu empresa y establecer la base para tu plataforma digital. En unos cuantos clicks, ya estarás en camino de tener un sitio web profesional y funcional',
        icon: 'tabler:phone',
      },
      {
        title: 'Paso 2: <span class="font-medium">Agrega tu contenido</span>',
        description:
          'Inyecta tu visión. Subimos tus imágenes, contenido y cualquier elemento que represente tu negocio. Recuerda, tu contenido cuenta la historia de tu marca, así que haz que sea atractivo y memorable para tus clientes',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Paso 3: <span class="font-medium">Personaliza tu diseño</span>',
        description:
          'Dale tu toque personal. Ajusta colores, tipografías y estilos hasta que el sitio refleje exactamente la identidad de tu marca. Con PaladinDotBuild, garantizamos que el diseño sea intuitivo, asegurando una experiencia de usuario fluida y atractiva',
        icon: 'tabler:paint',
      },
      {
        title: '¡Listo!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <!-- Features2 Widget ************** -->

  <Features2
    title="Explora nuestros servicios"
    subtitle="Descubre como podemos ayudare con nuestra soluciones de software y diseño"
    columns={3}
    items={[
      {
        title: 'Dominio',
        description:
          'En PaladinDotBuild, te ayudamos a gestionar y registrar tu dominio de manera sencilla, asegurando que tu empresa tenga una presencia online sólida y reconocible.',
        icon: 'tabler:at',
      },
      {
        title: 'Email Corporativo',
        description:
          'Creamos correos electrónicos corporativos profesionales para tu empresa, ofreciendo una imagen confiable y asegurando comunicaciones seguras y efectivas.',
        icon: 'tabler:mail',
      },
      {
        title: 'Diseño de aplicaciones',
        description:
          'Diseñamos aplicaciones a medida que combinan funcionalidad y estética, creando experiencias digitales fluidas y atractivas para usuarios en diversas plataformas.',
        icon: 'tabler:augmented-reality-2',
      },
      {
        title: 'E-commerce',
        description:
          'Desarrollamos tiendas online optimizadas para aumentar tus ventas, garantizando una experiencia de compra dinámica y sencilla para tus clientes.',
        icon: 'tabler:shopping-cart',
      },
      {
        title: 'Blog',
        description:
          'Diseñamos blogs visualmente atractivos que priorizan la usabilidad y la presentación efectiva del contenido, ideales para bloggers de cualquier nivel.',
        icon: 'tabler:news',
      },
      {
        title: 'Diseño de Logotipo',
        description:
          'Creamos logotipos únicos y memorables que reflejan la identidad de tu marca, aportando profesionalismo y coherencia a tu presencia visual.',
        icon: 'tabler:palette',
      },
      {
        title: 'Branding',
        description:
          'Desarrollamos estrategias de branding completas, asegurando una identidad de marca cohesiva que te diferencie de la competencia en todos los puntos de contacto.',
        icon: 'tabler:arrow-big-up-lines',
      },
      {
        title: 'Redes Sociales',
        description:
          'Te ayudamos a gestionar y optimizar tus redes sociales, creando contenidos impactantes que conecten con tu audiencia y amplifiquen tu alcance digital.',
        icon: 'tabler:social',
      },
      {
        title: 'Plantillas para redes sociales',
        description:
          'Ofrecemos plantillas personalizadas para redes sociales, ayudándote a mantener una estética moderna y profesional en cada publicación.',
        icon: 'tabler:ad',
      },
    ]}
  />
  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Encuentra más contenido en nuestro Blog"
    information={`Explora nuestro blog y mantente al tanto de las últimas tendencias en desarrollo web, diseño gráfico, branding y más. Aquí encontrarás contenido exclusivo, consejos prácticos y artículos inspiradores para ayudarte a impulsar la presencia digital de tu empresa. ¡No te pierdas ninguna actualización!
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas Frecuentes"
    subtitle="Descubre respuestas a las preguntas más comunes sobre cómo PaladinDotBuild puede ayudarte a transformar tu presencia digital."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '¿Qué servicios ofrece PaladinDotBuild?',
        description:
          'PaladinDotBuild se especializa en la creación de plataformas digitales personalizadas, desde sitios web estáticos hasta aplicaciones web completas, para impulsar tu negocio en el mundo digital.',
      },
      {
        title: '¿Qué necesito para comenzar un proyecto con PaladinDotBuild?',
        description:
          'Solo necesitas una visión clara de lo que deseas lograr. Nosotros nos encargamos de guiarte desde la idea inicial hasta el lanzamiento de tu plataforma digital, proporcionándote soluciones adaptadas a tus necesidades.',
      },
      {
        title: '¿Cuánto tiempo tarda en desarrollarse un sitio web?',
        description:
          'El tiempo de desarrollo depende de la complejidad del proyecto. Un sitio web estático puede estar listo en pocos días, mientras que una aplicación completa puede tardar varias semanas. Te mantendremos informado durante todo el proceso.',
      },
      {
        title: '¿PaladinDotBuild ofrece servicios de mantenimiento?',
        description:
          'Sí, ofrecemos planes de mantenimiento para asegurarnos de que tu sitio web o aplicación siga funcionando de manera óptima, realizando actualizaciones y mejoras continuas según sea necesario.',
      },
      {
        title: '¿Cómo se manejan las personalizaciones en mi plataforma?',
        description:
          'Nuestro equipo trabajará estrechamente contigo para personalizar el diseño y las funcionalidades de tu plataforma digital. Ya sea que necesites un diseño único o características específicas, nos aseguramos de cumplir tus expectativas.',
      },
      {
        title: '¿Qué diferencia a PaladinDotBuild de otras agencias?',
        description:
          'Nos diferenciamos por nuestro enfoque personalizado y nuestra capacidad de adaptar soluciones específicas para cada cliente. No solo creamos sitios web, creamos experiencias digitales que conectan con tu audiencia y elevan tu marca.',
      },
    ]}
  />

  <!-- No borrar este bloque debido a que podremos utilizarlo mas adelante cuando ya tengamos estadisticas reles que compartir -->

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Empieza tu proyecto',
        href: 'https://paladindotbuild.com/contacto', // cambiar por el dominio real
        target: '_blank',
        icon: 'tabler:rocket',
      },
    ]}
  >
    <Fragment slot="title">
      Paladin&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tu Presencia Digital</span>
    </Fragment>

    <Fragment slot="subtitle">
      Lanza tu plataforma digital con diseños innovadores y personalizados.<br class="hidden md:inline" />¡No pierdas
      más tiempo, comienza hoy!
    </Fragment>
  </CallToAction>
</Layout>
