---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Prices from '~/components/widgets/Pricing.astro';

const metadata = {
  title: 'Paladin.build',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[{ text: 'Aprende Más', href: '#features' }]}
    image={{ src: '~/assets/images/hero-section.jpg', alt: 'PaladinDotBuild Logo' }}
  >
    <Fragment slot="title">PaladinDotBuild</Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">PaladinDotBuild</span> Construimos tu presencia digital con precisión y confianza.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">PaladinDotBuild: Production-ready.</span>
      Creamos webs para Startups, pequeños negocios, SaaS, Portfolios Profesionales, Marketing websites, Landing Pages &
      Blogs.
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Paladin"
    title="¿Porque Elegir PaladinDotBuild?"
    subtitle="Tu empresa necesita más que un sitio web, necesita un aliado. En PaladinDotBuild, diseñamos y desarrollamos soluciones digitales que potencian tu negocio."
    items={[
      {
        title: 'Soluciones a tú Medida',
        description:
          'Desarrollamos sitios web adaptados a las necesidades específicas de tu empresa, garantizando un diseño único y alineado con tus objetivos comerciales',
        icon: 'tabler:bulb',
      },
      {
        title: 'Velocidad y Rendimiento',
        description:
          'Utilizamos tecnologías de vanguardia para crear páginas web rápidas y eficientes, mejorando la experiencia de usuario y optimizando el SEO',
        icon: 'tabler:rocket',
      },
      {
        title: 'Diseño Responsivo',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.Nuestros sitios web se ven impecables en cualquier dispositivo, asegurando que tu presencia digital sea accesible y atractiva para todos tus clientes',
        icon: 'tabler:devices-2',
      },
      {
        title: 'Soporte Técnico Continuo',
        description:
          'Ofrecemos asistencia post-lanzamiento para mantener tu sitio actualizado, seguro y funcionando correctamente, brindando tranquilidad total',
        icon: 'tabler:list-check',
      },
      {
        title: 'Escalabilidad Garantizada',
        description:
          "Desarrollamos sitios con la flexibilidad necesaria para crecer junto con tu negocio, integrando nuevas funcionalidades sin perder rendimiento",
        icon: 'tabler:adjustments-check',
      },
      {
        title: 'Seguridad de Alto Nivel',
        description:
          'Implementamos medidas de seguridad avanzadas para proteger tus datos y la integridad de tu sitio, salvaguardando la confianza de tus clientes',
        icon: 'tabler:shield-lock',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Funcionalidad"
    title="PaladinDotBuild: Donde Innovación y Funcionalidad se Encuentran"
    items={[
      {
        title: 'Desarrollado con tecnologías modernas',
        description:
          'Nos apoyamos en los frameworks y herramientas más actuales para ofrecer sitios web de alto rendimiento y escalabilidad',
      },
      {
        title: 'Diseños personalizados y funcionales',
        description:
          'Creamos experiencias visuales únicas que reflejan la identidad de tu empresa, manteniendo la funcionalidad como prioridad',
      },
      {
        title: 'Compatibilidad entre navegadores',
        description:
          'Garantizamos que tu sitio web funcione de manera impecable en todos los navegadores, asegurando una experiencia sin interrupciones para todos los usuarios',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Construido sobre bases sólidas</h3>
      Gana una ventaja competitiva incorporando prácticas líderes en la industria para tu presencia digital
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Alta personalización',
        description: `Adaptamos cada detalle de tu sitio web a la identidad de tu marca, logrando un diseño único y eficiente que ahorra tiempo y maximiza tu presencia online`,
      },
      {
        title: 'Amplias posibilidades de diseño',
        description:
          'Explora una variedad de opciones de estructura para encontrar la que mejor muestre tu contenido, optimizando la navegación y el compromiso de tus usuarios',
      },
      {
        title: 'Diseño completamente responsivo',
        description:
          "Nos aseguramos de que tu sitio funcione de manera óptima en todos los dispositivos y tamaños de pantalla, brindando una experiencia de usuario constante y atractiva",
      },
      {
        title: 'Integración multimedia fluida',
        description:
          'Incorpora sin esfuerzo imágenes, videos y elementos multimedia que potencian tu contenido y capturan la atención de tus visitantes de manera efectiva',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Asegura que tu presencia digital refleje verdaderamente a tu empresa</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Prices
    title="Nuestros precios"
    subtitle="Solo paga por lo que necesites"
    prices={[
      {
        title: 'Landing Page',
        subtitle: 'Atrae Clientes y conviertalos en ventas',
        price: 250,
        period: 'Único Pago',
        "items": [
              {
                "description": "Diseño personalizado que destaca"
              },
              {
                "description": "Optimización para conversiones"
              },
              {
                "description": "Experiencia de usuario intuitiva"
              },
              {
                "description": "Contenido claro y directo"
              }
        ],
        callToAction: {
          target: '_blank',
          text: '¡Lo Quiero!',
          href: '#',
        },
      },
      {
        title: 'Web Stática',
        subtitle: 'Impulsa tu negocio con una web',
        price: 500,
        period: 'Único Pago',
        items: [
              {
                "description": "Página optimizada para carga veloz"
              },
              {
                "description": "Cinco enlaces informativos claros"
              },
              {
                "description": "Diseño responsivo y atractivo"
              },
              {
                "description": "Contenido conciso y relevante"
              },
              {
                "description": "Interfaz amigable para el usuario"
              },
        ],
        callToAction: {
          target: '_blank',
          text: '¡Lo Quiero!',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'Aplicación Web',
        subtitle: 'gestiona tu negocio',
        price: 1000,
        period: 'Único Pago',
        items: [
            {
              "description": "Interfaz de usuario intuitiva y atractiva"
            },
            {
              "description": "Funcionalidades robustas y escalables"
            },
            {
              "description": "Integración de bases de datos segura"
            },
            {
              "description": "Soporte para múltiples plataformas"
            },
            {
              "description": "Optimización para un rendimiento superior"
            },
        ],
        callToAction: {
          target: '_blank',
          text: '¡Lo Quiero!',
          href: '#',
        },
      },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Haz realidad tu sitio web ideal en tiempo récord con PaladinDotBuild"
    items={[
      {
        title: 'Paso 1: <span class="font-medium">Contáctanos</span>',
        description:
          "Inicia con una consulta gratuita. Nuestro equipo está listo para comprender las necesidades de tu empresa y establecer la base para tu plataforma digital. En unos cuantos clicks, ya estarás en camino de tener un sitio web profesional y funcional",
        icon: 'tabler:phone',
      },
      {
        title: 'Paso 2: <span class="font-medium">Agrega tu contenido</span>',
        description:
          "Inyecta tu visión. Subimos tus imágenes, contenido y cualquier elemento que represente tu negocio. Recuerda, tu contenido cuenta la historia de tu marca, así que haz que sea atractivo y memorable para tus clientes",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Paso 3: <span class="font-medium">Personaliza tu diseño</span>',
        description:
          'Dale tu toque personal. Ajusta colores, tipografías y estilos hasta que el sitio refleje exactamente la identidad de tu marca. Con PaladinDotBuild, garantizamos que el diseño sea intuitivo, asegurando una experiencia de usuario fluida y atractiva',
        icon: 'tabler:paint',
      },
      {
        title: '¡Listo!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <!-- Features2 Widget ************** -->

  <Features2
    title="Explore our diverse templates"
    subtitle="Discover our selection below to streamline and elevate your projects."
    columns={3}
    items={[
      {
        title: 'Educational',
        description:
          'By harmonizing instructional design and visual appeal, templates streamline content creation for varied materials, expediting development and cultivating engaging educational spaces.',
        icon: 'tabler:school',
      },
      {
        title: 'Interior Design',
        description:
          'Crafting functional, visually appealing spaces for residential and commercial use. Templates emphasize layout, colors, and furniture setups, offering a versatile toolkit for your design vision.',
        icon: 'tabler:home-star',
      },
      {
        title: 'Photography',
        description: `Empowering photographers, our templates facilitate captivating storytelling. With a keen focus on layout, galleries, and typography, they cater to both professionals and enthusiasts.`,
        icon: 'tabler:photo',
      },
      {
        title: 'E-commerce',
        description:
          'Developing engaging online stores, our E-commerce templates ensure a dynamic presence to effectively showcase products. Ideal for startups or revamps.',
        icon: 'tabler:shopping-cart',
      },
      {
        title: 'Blog',
        description:
          'With attention to typography, these templates empower effective content presentation for writers at any stage, ensuring visually engaging and user-friendly blogs.',
        icon: 'tabler:article',
      },
      {
        title: 'Business',
        description:
          'Providing polished options for effective visual communication, these templates empower both startups and established companies for a professional brand presence.',
        icon: 'tabler:building-store',
      },
      {
        title: 'Branding',
        description:
          'Offering pre-designed elements for a consistent brand identity, including logos and marketing materials. Ideal for new ventures or revamps.',
        icon: 'tabler:arrow-big-up-lines',
      },
      {
        title: 'Medical',
        description: `From presentations to patient forms, these tools enhance communication effectiveness for healthcare professionals. Ideal for medical practices and research pursuits.`,
        icon: 'tabler:vaccine',
      },
      {
        title: 'Fashion Design',
        description:
          'With attention to detail, customization, and contemporary design, they empower designers to showcase ideas cohesively. Ideal for all levels of designers.',
        icon: 'tabler:tie',
      },
    ]}
  />
  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
